Checks: '
  -clang-diagnostic-return-type,
  -clang-diagnostic-unknown-attributes,
  -clang-diagnostic-unused-parameter,
  abseil-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-cstyle-cast,
  fuchsia-*,
  google-*,
  -google-readability-todo,
  hicpp-*,
  -hicpp-deprecated-headers,
  -hicpp-avoid-c-arrays,
  llvm-*,
  misc-*,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-deprecated-headers,
  performance-*,
  readability-*,
  -readability-redundant-inline-specifier,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
'
CheckOptions:
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: '^SM0$|^SM1$|^SM2$'

SystemHeaders: false
