Checks: '
  -clang-diagnostic-return-type,
  -clang-diagnostic-unknown-attributes,
  -clang-diagnostic-unused-parameter,
  misc-*,
  -misc-include-cleaner,
  -misc-const-correctness,
  -misc-unused-parameters,
  -misc-use-internal-linkage,
  -misc-non-private-member-variables-in-classes,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-cstyle-cast,
'
CheckOptions:
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: '^SM0$|^SM1$|^SM2$'

SystemHeaders: false
